@import url(reset.css);
/* main.css */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Sonsie One', cursive;
font-family: 'Syncopate', sans-serif;
 */
body{font-family:'Montserrat', sans-serif;font-size: 16px; color:#191919;}
body.on{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
a{font-family:'Montserrat'; color:#191919; text-decoration: none;}
ul,li {list-style: none;}
/* common */
.background{position:absolute;}
/* wave ani */
body {
  background-color: aliceblue;
	color: #333;
	font: 100% Lato, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
header{
  z-index:31;
  position:fixed;
  width: 100vw;
  padding: 30px 100px;
}

.btn_ham{
  /* z-index:99; */
  position: absolute;
  top:30px;
  right:50px;
  display: inline-block;
  width:60px;
  height:60px;
  background: url(../images/ico_ham.svg);
  background-position: cover;
  text-indent:-9999px;
  overflow: hidden;
  cursor: pointer;
}
header.on > .btn_ham{
  background:url(../images/ico_close.svg);
}
nav {
  z-index: 30;
  position:fixed;
  right:0;
  top:0;
  width:20vw;
  height:100vh;
  transform:translateX(100%);
  transition:all 1s ease;
}
nav.on {
  transform: translateX(0);
}
nav > ul {
  /* display:none; */
  background-color: rgba(0, 55, 83, 0.5);
  position:absolute;
  right:0;
  top:0;
  width:20vw;
  height:100vh;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap:60px;
  font-size:2rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color:#fff;
}
nav > ul > li{
  z-index:30;
  height:60px;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav > ul > li:hover{
  font-size:2.2rem
}

.wrapper {
  z-index:0;
  width: 100vw;
  height: 100vh;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.round {
  width: 40vw;
  max-width: 300px;
  height: 40vw;
  max-height: 300px;
  border-radius: 68% 54% 54% 67% / 72% 48% 75% 49%;
  background: linear-gradient(-225deg, #fff 0%, rgba(54, 39, 39, 0) 40%, rgba(59, 59, 59, 0) 60%, rgba(242, 242, 242, 0.117) 100%),linear-gradient(45deg, #3123ae00 0%, rgba(70, 67, 69, 0.033) 100%);
  /* position: relative; */
  position:absolute;
  top:0;
  left:0;
  animation: rotate 60s infinite linear;
}
.round::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(67deg);
  animation: rotate 20s infinite linear;
}
.round::after {
  content: '';
  display: block;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -8%;
  left: -5%;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .5);
  transform: rotate(223deg);
  z-index: -1;
  animation: rotate 40s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(.9);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.round1 {
  width: 30vw;
  max-width: 200px;
  height: 30vw;
  max-height: 200px;
  border-radius: 68% 54% 54% 67% / 72% 48% 75% 49%;
  background: linear-gradient(-225deg, #fff 0%, rgba(54, 39, 39, 0) 40%, rgba(59, 59, 59, 0) 60%, rgba(242, 242, 242, 0.117) 100%),linear-gradient(45deg, #3123ae00 0%, rgba(70, 67, 69, 0.033) 100%);
  /* position: relative; */
  position:absolute;
  top:0%;
  left:90%;
  animation: rotate 60s infinite linear;
}
.round1::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(67deg);
  animation: rotate 20s infinite linear;
}
.round1::after {
  content: '';
  display: block;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -8%;
  left: -5%;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .5);
  transform: rotate(223deg);
  z-index: -1;
  animation: rotate 40s infinite linear;
}
.round2 {
  width: 30vw;
  max-width: 200px;
  height: 35vw;
  max-height: 200px;
  border-radius: 68% 54% 54% 67% / 72% 48% 75% 49%;
  background: linear-gradient(-225deg, #fff 0%, rgba(54, 39, 39, 0) 40%, rgba(59, 59, 59, 0) 60%, rgba(242, 242, 242, 0.117) 100%),linear-gradient(45deg, #3123ae00 0%, rgba(70, 67, 69, 0.033) 100%);
  /* position: relative; */
  position:absolute;
  top:30%;
  left:20%;
  animation: rotate 60s infinite linear;
}
.round2::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(67deg);
  animation: rotate 20s infinite linear;
}
.round2::after {
  content: '';
  display: block;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -8%;
  left: -5%;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .5);
  transform: rotate(223deg);
  z-index: -1;
  animation: rotate 40s infinite linear;
}
.round3 {
  width: 50vw;
  max-width: 400px;
  height: 50vw;
  max-height: 400px;
  border-radius: 68% 54% 54% 67% / 72% 48% 75% 49%;
  background: linear-gradient(-225deg, #fff 0%, rgba(54, 39, 39, 0) 40%, rgba(59, 59, 59, 0) 60%, rgba(242, 242, 242, 0.117) 100%),linear-gradient(45deg, #3123ae00 0%, rgba(70, 67, 69, 0.033) 100%);
  /* position: relative; */
  position:absolute;
  top:5%;
  left:130%;
  animation: rotate 60s infinite linear;
}
.round3::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(67deg);
  animation: rotate 20s infinite linear;
}
.round3::after {
  content: '';
  display: block;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -8%;
  left: -5%;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .5);
  transform: rotate(223deg);
  z-index: -1;
  animation: rotate 40s infinite linear;
}
.round4 {
  width: 50vw;
  max-width: 400px;
  height: 50vw;
  max-height: 400px;
  border-radius: 68% 54% 54% 67% / 72% 48% 75% 49%;
  background: linear-gradient(-225deg, #fff 0%, rgba(54, 39, 39, 0) 40%, rgba(59, 59, 59, 0) 60%, rgba(242, 242, 242, 0.117) 100%),linear-gradient(45deg, #3123ae00 0%, rgba(70, 67, 69, 0.033) 100%);
  /* position: relative; */
  position:absolute;
  top:70%;
  left:0%;
  animation: rotate 60s infinite linear;
}
.round4::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(67deg);
  animation: rotate 20s infinite linear;
}
.round4::after {
  content: '';
  display: block;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -8%;
  left: -5%;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .5);
  transform: rotate(223deg);
  z-index: -1;
  animation: rotate 40s infinite linear;
}
.round5 {
  width: 50vw;
  max-width: 400px;
  height: 50vw;
  max-height: 400px;
  border-radius: 68% 54% 54% 67% / 72% 48% 75% 49%;
  background: linear-gradient(-225deg, #fff 0%, rgba(54, 39, 39, 0) 40%, rgba(59, 59, 59, 0) 60%, rgba(242, 242, 242, 0.117) 100%),linear-gradient(45deg, #3123ae00 0%, rgba(70, 67, 69, 0.033) 100%);
  /* position: relative; */
  position:absolute;
  top:60%;
  left:80%;
  animation: rotate 60s infinite linear;
}
.round5::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(67deg);
  animation: rotate 20s infinite linear;
}
.round5::after {
  content: '';
  display: block;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -8%;
  left: -5%;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, .5);
  transform: rotate(223deg);
  z-index: -1;
  animation: rotate 40s infinite linear;
}
.bubble{
  position: absolute;
  bottom:-10px;
  left:20%;
  width:34px;
  height:28px;
  background: url(../images/bg_bubble.png);
  animation: form 3s infinite ease-in-out;
}
.bubble2{
  position: absolute;
  bottom:-10px;
  left:30%;
  width:75px;
  height:75px;
  background: url(../images/bg_bubble2.png);
  animation: form 9s infinite;
}
.bubble3{
  position: absolute;
  bottom:-10px;
  left:32%;
  width:117px;
  height:123px;
  background: url(../images/bg_bubble3.png);
  animation: form 6s infinite;
}
.bubble4{
  position: absolute;
  bottom:-10px;
  left:28%;
  width:34px;
  height:28px;
  background: url(../images/bg_bubble4.png);
  animation: form 10s infinite;
}
.bubble5{
  position: absolute;
  bottom:-10px;
  left:82%;
  width:60px;
  height:54px;
  background: url(../images/bg_bubble5.png);
  animation: form 9s infinite;
}
.bubble6{
  position: absolute;
  bottom:-10px;
  left:80%;
  width:34px;
  height:28px;
  background: url(../images/bg_bubble4.png);
  animation: form 5s infinite;
}
.bubble7{
  position: absolute;
  bottom:-10px;
  left:90%;
  width:117px;
  height:123px;
  background: url(../images/bg_bubble3.png);
  animation: form 3s infinite;
}
.bubble8{
  position: absolute;
  bottom:-10px;
  left:78%;
  width:75px;
  height:75px;
  background: url(../images/bg_bubble2.png);
  animation: form 3s infinite;
}
.bubble9{
  position: absolute;
  bottom:-10px;
  left:80%;
  width:34px;
  height:28px;
  background: url(../images/bg_bubble.png);
  animation: form 8s infinite;
}
.bubble10{
  position: absolute;
  bottom:-10px;
  left:70%;
  width:60px;
  height:54px;
  background: url(../images/bg_bubble5.png);
  animation: form 4s infinite;
}
@keyframes form{
  0% {
    opacity: 0;
    }
  10%, 90% {
    opacity: 1;
  }
  33% {
    transform: translateX(-50px) translateY(-10px);
    animation-timing-function: cubic-bezier( 0.66, 0, 0.58, 0.75 );
  }
  50% {
    transform: translateX(50px) translateY(-600px);
    animation-timing-function: cubic-bezier( 0.66, 0, 0.58, 0.75 );
  }
  85%{
    transform: translateX(-50px) translateY(-900px);
    animation-timing-function: cubic-bezier( 0.66, 0, 0.58, 0.75 );
  }
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
}

#container{
  background: url(../images/bg_effect_grain.png) no-repeat;
  background-blend-mode: multiply;
  background-size:cover;
}
/* 공통 */
#container div {
}

/* 세부 */
#content1, #content4{
  width:100vw;
  height:100vh;
  background:url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#content1 > section{
  position: relative;
  width:100vw;
  height:100vh;
  /* overflow: hidden; */
}
#content1 > section > article {
  position: absolute;
  width:100vw;
  height:100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#content1 > section > article:first-of-type{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease 0.5s;
}
#content1 > section > article:first-of-type.on{
  opacity: 1;
  transform: translateX(0);
}
/* button 공통 */
.btn_press,.btn_view {
  font-size:2rem;
  color:#fff;
  border:1px solid #fff;
  border-radius: 999px;
  cursor: pointer;
}
.btn_press:hover,.btn_view:hover {
  color:#003753;
  background: #fff;
  border: 1px solid rgba(255,255,255,0.00);
  text-decoration: none;
}
.btn_press {
  margin-top:72px;
  padding: 16px 80px;
}

#content1 > section > article:last-of-type{
  transform: scale(0);
  opacity: 0;
  transition: all 1s ease 0.5s;
}
#content1 > section > article:last-of-type.on{
  transform: scale(1);
  width:100vw;
  height:100vh;
  opacity: 1;
}
#content1 > section > article > ul {
  display: flex;
  flex-flow:row;
  gap:30px;
  font-family: 'Montserrat', sans-serif;
}
#content1 > section > article > ul > li{
  margin-top:72px;
  padding: 10px 60px;
  font-size:1.4rem;
  color:#fff;
  border:1px solid #fff;
  border-radius: 999px;
  cursor: pointer;
}
#content1 > section > article > ul > li:hover{
  color:#003753;
  background: #fff;
  border: 1px solid rgba(255,255,255,0.00)
}
/* about ,work,contact 공통 */
#content2 > section,
#content3 > section,
#content4 > section  {
  width:80vw;
  height:80vh;
  margin:0 auto;
  /* border:1px solid black; */
}
/* content2 */
#content2{
  position: relative;
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  /* justify-content: center; */
  background: inherit;
  /* background: linear-gradient(180deg, #003753 0%, rgba(0, 118, 177, 0.50) 20.31%, rgba(255, 255, 255, 0.50) 51.56%, rgba(0, 118, 177, 0.50) 79.69%, #003753 100%); */
}
/* content2 - about */
.article_top{
  /* margin:50px auto 20px; */
  width:100%;;
  height: 50vh; 
  display:flex;
  justify-content: space-between;
}
#content2 > section article {
  border-radius: 30px;
  background: rgba(255, 255, 255,0.65);
  backdrop-filter: blur(10px);
}
/* 아티클1 profile*/
.profile_box{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;

  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease 0.2s;
}
#content2 > section.on > .article_top > .profile_box{
  opacity: 1;
  transform: translateX(0);
}

.profile_box > .left{
  /* width:17vw; */
  width:30%;
  height:80%;

  display:flex;
  justify-content: center;
  align-items: start;
  /* border:1px solid purple; */
}
.profile_box > .left > img {
  border-radius: 16px;
  width:100%;
}
.profText {
  /* width:25vw; */
  width:50%;
  height:80%;
  /* border:1px solid blue; */
}
/* 해시태그 */
.profile_box > .profText > ul {
  /* width:18vw; */
  /* border:1px solid red; */
  margin-top:10px;
  display: flex;
  flex-flow:wrap;
  gap:8px;
}
.profile_box > .profText > ul > li{
  font-size:1rem;
  border-radius: 64px;
  background: #0084C8;
  color:#fff;
  padding:6px 16px;
  display: flex;
  align-items: center;
}
.profText {
  display:flex;
  flex-flow:column;
  /* gap:20px; */
}
.profText > h2 {
  /* border:1px solid green; */
  color: #191919;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
}
.profText > h2 > span {
  color: #0084C8;
}
.profText > p {
margin-top:20px;
width:100%;
color: #333;
font-family: Montserrat;
font-size: 1.1rem;
font-style: normal;
font-weight: 500;
word-break: break-all;
text-align: justify;
/* border:1px solid red; */
}
/* 아티클2 career box */
.career_box{
  /* width:432px; */
  width:35%;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease 0.4s;
}
#content2 > section.on > .article_top >.career_box{
  opacity: 1;
  transform: translateX(0);
}
.career_box >div > h3,
.skills_box > h3 {
  position: relative;
  color:#0084C8;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.career_box >div {
  width:80%;
  height:80%;
}
.career_box >div > dl {
  /* width:320px; */
  width:100%;
  /* border: 1px solid pink; */
  display: flex;
  margin:0;
}
.career_box >div > dl > dt {
  color: #191919;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.4px;
  margin-right:20px;
}
.career_box >div > dl > dd{
  color: #191919;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  /* letter-spacing: -0.4px; */
}
.career_box >div > dl > dd > ul,
.career_box >div > dl > dd > p {
  margin-top:8px;
  color:#3d3f46;
  font-size:1rem;
  line-height:1;
  letter-spacing: 0.32px;
  /* border: 1px solid blue; */
}
/* 아티클3 skills box */
.skills_box{
  width:100%;
  /* padding: 42px 100px 30px; */
  margin-top:20px;
  font-family: Montserrat;
  display: flex;
  flex-flow: column;

  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease 0.6s;
}
#content2 > section.on > .skills_box{
  opacity: 1;
  transform: translateY(0);
}
.skills_box > h3{
  width:90%;
  margin:40px auto;
}

/* 도넛그래프 */

div.row{
  position: relative;
  margin:0 auto;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  text-align: center;
}

div.row > .col-xs-12{
  /* position: relative; */
  /* height:200px; */
  display: flex;
  flex:1;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  /* border:1px solid green; */
}
div.row > .col-xs-12 > p {
  margin-top:10px;
  height:50px;
  position: relative;
  /* text-align: center; */
  text-transform: uppercase;

}

.skill-item{
}

.skill-item  {
  /* border:1px solid yellow; */
	position: relative;
	max-width: 160px;
	width: 70%;
	/* margin-bottom: 30px; */
	color: #333;
}

.chart-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	/* margin-bottom: 27px; */
}

.skill-item .chart,
.skill-item .chart canvas
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.skill-item .chart:before
{
	content: "";
	width: 0;
	height: 100%;
}

.skill-item .chart:before,
.skill-item .percent
{
	display: inline-block;
	vertical-align: middle;
}

.skill-item .percent
{
	position: relative;
	line-height: 1;
	font-size: 2rem;
	font-weight: 900;
	z-index: 2;
}

.skill-item  .percent:after
{
	content: attr(data-after);
	font-size: 20px;
}
      

/* content3 - work */
#content3{
  position: relative;
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  /* background: url(../images/bg_effect_sandy_grain.png) no-repeat,url(../images/grain.jpg) repeat,linear-gradient(180deg, #003753 0%, rgba(0, 118, 177, 0.50) 20.31%, rgba(255, 255, 255, 0.50) 51.56%, rgba(0, 118, 177, 0.50) 79.69%, #003753 100%); */
  background: inherit;
  /* background: url(../images/noisy_background.jpg); */
  /* background-size:cover; */
  /* backdrop-filter:inherit; */
  /* background-blend-mode: multiply; */
  
}
#content3 > section > article{
  /* border:1px solid green; */
  height:80vh;
  /* gap:10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#content3 > section > h2 {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: -2px;
  font-size:1.5rem;
  color:#fff;
  padding:8px;
  margin-bottom:20px;
}
.project{
  height:100%;
  /* border:1px solid red; */
  flex:1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.project > li {
  position:relative;
  width:33%;
  height:50%;
  /* border:1px blue solid; */
  cursor: pointer;
}
.project > li::before{
  content:"";
  position:absolute;
  right:0;
  bottom:8px;
  height:95%;
  border-right:4px solid #fff;
}
.project > li::after{
  content:"";
  position:absolute;
  top:0;
  width:95%;
  border-top:4px solid #fff;
}
.project > li > div {
  padding:16px;
}
/* 공통 */
.project > li > div > p {
  padding:8px 0;
  font-family: 'Montserrat';
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.2;
  font-size:1.8rem;
  /* text-indent: 20px; */
  color:#fff;
}
.project > li > div > span{
  position:absolute;
  bottom:20px;
  text-align: center;
  color:#fff;
  border:1px solid #fff;
  padding:8px 16px;
  box-sizing: border-box;
  border-radius: 999px;
}
.project > li > .thumbnail{
  width:100%;
  height:100%;
}
.tumbnailHover{
  position:absolute;
  top:0;
  left:0;
  opacity: 0;
  /* transform:scale(0); */
  transition: all 0.5s ease;
}
.project > li:hover > .tumbnailHover{
  width:100%;
  height:100%;
  opacity: 1;
  /* transform:scale(1); */
  background-size:cover;
}
.dang{
  background: url(../images/dang_logo.png);
}
.bing{
  background: url(../images/bing_logo.png);
}
.pleu{
  background: url(../images/pleu_logo.png);
}
.halland{
  background: url(../images/haalland_thum.png);
}
.go{
  background: url(../images/goout_thum.png);
}
.gym{
  background: url(../images/gymyard_thum.png);
}



.work_info{  
  position:absolute;
  top:5vh;
  width:80vw;
  transform: scale(0);
  transition: all 0.3s;
}
.work_info.on{
  z-index:40;
  position:absolute;
  background: rgba(10, 10, 10, 0.704);
  backdrop-filter: blur(10px);
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  transform:scale(1);
  /* border:1px solid red; */
}
.work_info > .bar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height:52px;
  /* opacity: 0.5; */
  background: rgb(245, 245, 245);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  padding:0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_esc{
  display: inline-block;
  width:16px;
  height:16px;
  background: url(../images/ico_lights.svg) no-repeat 0 50%;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid red; */
}
.path{
  display: inline-block;
  position: relative;
  width:40vw;
  height:80%;
  line-height:2.3;
  border-radius: 4px;
  text-align: center;
  color: rgba(121,121,121,1);
  background: rgba(0,0,0,0.05);
}
.path::before{
  position:absolute;
  top:15%;
  left:-40px;
  content: "";
  width:26px;
  height:26px;
  background: url(../images/ico_shield.svg) no-repeat 0 0;
  background-size: cover;
}
.path::after{
  position:absolute;
  top:20%;
  right:8px;
  content: "";
  width:20px;
  height:20px;
  background: url(../images/ico_f5.svg) no-repeat 0 0;
  background-size: contain;
}
.bar_icon{
  display: flex;
  gap:8px;
}
.bar_icon > li:first-of-type {
  display: inline-block;
  width:24px;
  height:24px;
  text-indent: -9999px;
  overflow: hidden;
  background:url(../images/ico_ele1.svg) no-repeat 0 0 ;
  background-size:cover;
}
.bar_icon > li:nth-of-type(2) {
  display: inline-block;
  width:24px;
  height:24px;
  text-indent: -9999px;
  overflow: hidden;
  background:url(../images/ico_ele2.svg) no-repeat 0 0 ;
  background-size:cover;
}
.bar_icon > li:last-of-type {
  display: inline-block;
  width:24px;
  height:24px;
  text-indent: -9999px;
  overflow: hidden;
  background:url(../images/ico_ele3.svg) no-repeat 0 0 ;
  background-size:cover;
}
.dom{
  width:100%;
  /* height:100%; */
  /* background-color: #fff; */
  /* background: rgba(10, 10, 10, 0.704);
  backdrop-filter: blur(10px); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* overflow: hidden; */
}
.dom > .pjtrain {
  width:300%;
  display:flex;
  border:1px solid red;
}
.dom > .pjtrain > li {
  position:relative;
  width:33.3%;
  height:85vh;
  border:1px solid blue;
  /* padding:20px; */
  display:flex;

}
.project_title{
  position:absolute;
  width:100%;
  line-height:2;
  color:#fff;
  font-size:3rem;
  font-family: 'Montserrat';
  text-align: center;
  letter-spacing: -1.08px;
  /* border:1px solid green; */
}
.project_title > strong{
  font-weight:600;
}
.dom > .pjtrain > li > div {
  width:40%;
  display:flex;
  flex-flow:column;
  justify-content:center;
  /* border:1px yellow solid; */
}
.dom > .pjtrain > li > div > dl {
  margin:0 auto;
  width:60%;
  color:#fff;
  font-family: 'Montserrat';
  /* border: 1px solid red; */
  display:flex;
  flex-flow:column;
}
.dom > .pjtrain > li> div >dl > dt {
width:100%;
line-height:1.6;
border-bottom: 1px solid;
font-size:1.6rem;
font-weight: 600;
  /* border:1px solid red; */

}
.dom > .pjtrain > li> div > dl > dd{
  padding:10px;
  line-height:1.6;
}
.mockup_img {
  position: relative;
  width:60%;
  display:flex;
  align-items: center;
  overflow: hidden;
}
.mockup_img > li {
  /* position: absolute;
  top:180px; */
  z-index:30;
}
.mockup_img > .indx_page {
  z-index:29;
  transform: translate(-55%,10%);

}
.mockup_img > .indx_page > img {
  width:100%;
}
.tablet {
  transform: translate(-40%,20%);
}
.mobile{
  transform: translate(-80%,10%);
}
/* 웹접근성 검사  */
.pj_webcheck {
  display: flex;
  justify-content: center;
  
}
.pj_webcheck > img {
  width:60%;
  object-fit: contain;
}

/* .pc {
  width:524px;
  height:442px;
}
.indx_page {
  width:202px;
  height:279px;
} */

.pagenation{
  z-index:50;
  top:80px;
  right:50px;
  /* top:0;
  left:0; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  text-align: center;
}
.pagenation > li{
  display: inline-block;
  width:24px;
  height:24px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  color:#fff;
  /* font-weight: 600; */
}
.pagenation > li:nth-of-type(2){
  width:50px;
}
.pagenation> li:first-of-type,
.pagenation > li:last-of-type{
  /* border:1px solid yellow; */
  background: url(../images/ico_arrow.svg) no-repeat 0 0;
  text-indent:-9999px;
  overflow:hidden;
  transition: 0.2s all;
}
.pagenation > li:last-of-type {
  background-position: 100%;
}
.pagenation> li:first-of-type:hover,
.pagenation > li:last-of-type:hover{
  transform:translateY(-4px)
}
/* view HTML button 세부 */
.btn_view {
  font-size:1.4rem;
  position: absolute;
  bottom:5%;
  left:50%;
  transform: translateX(-50%);
  width:auto;
  padding:16px 32px;
  text-align: center;
  display: block;
}


/* content4 - contact*/
#content4{
  display: flex;
  align-items: center;
}
#content4 > section > article {
  height:90vh;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
  gap:32px;
}
.communication{
  text-align: center;
  z-index:30;
  display: flex;
  justify-content: center;
  gap:5vw;
  font-size:1.6rem;
  font-weight: 700;
  /* border:1px solid #fff; */
  /* background: #fff; */
}
.communication > li {
  position:relative;
  cursor: pointer;
  width:300px;
  height:300px;
  color:#fff;
  transition:0.5s all ease;
  border-radius: 999px;
  overflow: hidden;
  border:1px solid #fff;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center; 
}
.communication > li > p {
  font-size:1.2rem;
  font-weight: 500;
}
.qr::after{
  position:absolute;
  content: "";
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url(../gitimages/qrcode.jpg) no-repeat 50%,#fff;
  background-size:50%;
  transition: 0.5s all ease;
  transform-origin: center;
  transform: scale(0);
  border-radius: 50%;
}
.qr:hover::after{

  transform: scale(1);
}

.copyRight{
  position:relative;
  top:16vh;
  color:#fff;
  font-size:1.2rem;
}

footer{}